<p>
  Full stack Ruby web developer with a passion for delivering great products.
  A creative out-of-the box thinker with strong interpersonal skills and a keen
  ability to break down large tasks into small and simple ones. Process driven
  approach to work and always looking to improve efficiency. 
</p>
<p> 
  Passionate about agile development, how people work and mentorship. Seeking
  teams that value agile web development principals and are willing to push the
  boundaries of software development practices.
</p>
